/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  font-size: 14px;
  --ff-Primary: League Spartan, sans-serif;
  --ff-Secondary: Antonio, sans-serif;
  --fs-80: 80px;
  --fs-48: 48px;
  --fs-40: 40px;
  --fs-24: 24px;
  --fs-18: 18px;
  --fs-14: 14px;
  --fs-15: 15px;
  --fs-12: 12px;
  --fs-11: 11px;
  --fs-9: 9px;
  --fs-8: 8px;
  --fw-400: 400;
  --fw-700: 700;
  --fw-800: 800;
  --colorWhite: hsl(0, 0%, 100%);
  --colorBorderWhite: hsla(0, 0%, 100%, 0.3);
  --colorDarkBlue: hsl(240, 67%, 8%);
  --colorGreen: hsl(169, 73%, 44%);
  --colorBlue: hsl(222, 87%, 56%);
  --colorDarkGray: hsl(240, 17%, 26%);
  --colorTeal: hsl(194, 48%, 49%);
  --colorPurple: hsl(263, 67%, 51%);
  --colorGray: hsl(240, 6%, 54%);
  --colorYellow: hsl(33, 82%, 61%);
  --colorOrange100: hsl(17, 73%, 46%);
  --colorOrange200: hsl(10, 63%, 51%);
  --colorOrange300: hsl(2, 68%, 53%);
}

body {
  position: relative;
  background: no-repeat var(--colorDarkBlue) url("/assets/background-stars.svg");
  font-family: var(--ff-Primary);
  font-size: var(--fs-14);
  line-height: 1.79rem;
  color: var(--colorWhite);
}

h1,
h2,
h3,
h4 {
  display: inline-block;
}

h1 {
  font-family: var(--ff-Secondary);
  font-size: var(--fs-80);
  text-transform: uppercase;
  line-height: 7.39rem;
}

h2 {
  font-family: var(--ff-Secondary);
  font-size: var(--fs-40);
  letter-spacing: -1.5px;
}

h3 {
  font-size: var(--fs-12);
  line-height: 1.79rem;
}

h4 {
  font-size: var(--fs-11);
  line-height: 1.79rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: var(--fw-800);
}

nav {
  border-bottom: 1px solid var(--colorBorderWhite);
}
nav .wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: calc(100% - 4.57rem);
  margin-inline: auto;
  padding: 1.57rem 0 1.93rem 0;
  max-width: 102.86rem;
}
nav .wrapper .logo {
  font-family: var(--ff-Secondary);
  margin: 0 auto 0 0;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: -1.05px;
  color: var(--colorWhite);
  width: 100%;
}
nav .wrapper .logo .show {
  display: none;
}
nav .wrapper .logo .hide {
  display: none;
}
nav .wrapper .logo a {
  text-decoration: none;
  color: var(--colorWhite);
}
nav .wrapper .nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.36rem;
  list-style: none;
  align-items: center;
  justify-content: end;
}
nav .wrapper .nav-list li a {
  text-decoration: none;
  color: var(--colorWhite);
}
nav .wrapper .menu-list {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--colorDarkBlue);
  top: 5em;
  list-style: none;
  max-height: 598px;
  width: 100%;
  z-index: 1;
}
nav .wrapper .menu-list li {
  width: 100%;
}
nav .wrapper .menu-list li .wrapper {
  display: flex;
  border-bottom: 1px solid var(--colorBorderWhite);
  padding: 1.43rem 0;
}
nav .wrapper .menu-list li .wrapper div {
  display: flex;
  align-items: center;
}
nav .wrapper .menu-list li .wrapper div h4 {
  margin-left: 1.79rem;
  font-size: var(--fs-15);
}
nav .wrapper .menu-list a {
  color: white;
  text-decoration: none;
}
nav .wrapper .menu-list svg {
  position: relative;
  z-index: 0;
  margin-left: auto;
}

@media (max-width: 56.25em) {
  nav .wrapper {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2.44em;
  }
  nav .wrapper .logo {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 40.63em) {
  nav .wrapper .logo {
    justify-content: space-between;
    align-items: center;
  }
  nav .wrapper .logo .hamburger {
    position: absolute;
    z-index: 100;
    right: 0;
    padding: 4px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: transparent;
    font-size: 40px;
  }
  nav .wrapper .logo .show {
    display: block;
  }
  nav .wrapper .nav-list {
    display: none;
  }
}
main {
  position: relative;
}
main .mobileOverview {
  display: none;
}
main .wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 9em auto 0 auto;
  align-items: center;
  max-width: 79.28rem;
  gap: 2.14rem;
  justify-items: center;
}
main .wrapper .planet {
  grid-column: 1/8;
  grid-row: 1;
}
main .wrapper .planet div {
  position: relative;
}
main .wrapper .planet .planetImage,
main .wrapper .planet .planetInternal {
  margin-inline: auto;
}
main .wrapper .planet .planetInternal,
main .wrapper .planet .planetGeology {
  display: none;
}
main .wrapper .planet .planetGeology {
  position: absolute;
  height: 165px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .wrapper .planetInfo {
  grid-column: 9/-1;
  grid-row: 1;
  max-width: 350px;
}
main .wrapper .planetInfo h1 {
  margin-bottom: 3rem;
}
main .wrapper .planetInfo p:last-of-type {
  margin-top: 1.71rem;
  color: var(--colorGray);
}
main .wrapper .planetInfo p:last-of-type a {
  color: var(--colorGray);
}
main .wrapper .planetInfo p:last-of-type img {
  display: inline-block;
  margin-left: 0.57rem;
}
main .wrapper .planetInfo .geologyInfo,
main .wrapper .planetInfo .structureInfo {
  display: none;
}
main .wrapper .planetInfo ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.14rem;
  margin-top: 2.79rem;
}
main .wrapper .planetInfo ul li {
  text-transform: uppercase;
  border: 1px solid var(--colorBorderWhite);
  padding: 0.79rem 2rem;
  font-size: var(--fs-12);
  letter-spacing: 0.184rem;
  font-weight: var(--fw-700);
}
main .wrapper .planetInfo ul li span {
  color: var(--colorWhite);
  opacity: 0.5;
  margin-right: 2rem;
}
main .wrapper .planetInfo ul li:hover {
  background-color: var(--colorGray);
  cursor: pointer;
}

@media (max-width: 75em) {
  main {
    padding: 0 1em;
  }
  main .wrapper .planet {
    grid-column: 1/8;
  }
  main .wrapper .planetInfo {
    grid-column: 8/-1;
    grid-row: 1;
  }
}
@media (max-width: 73.24em) {
  main .wrapper .planet {
    grid-column: 1/9;
  }
  main .wrapper .planetInfo {
    grid-column: 9/-1;
  }
}
@media (max-width: 56.25em) {
  main {
    padding: 0 2.79rem;
  }
  main .wrapper .planet .planetGeology {
    height: 90px;
    width: 80px;
  }
  main .wrapper .planet,
  main .wrapper .planetInfo {
    grid-column: 1/-1;
  }
  main .wrapper .planetImage {
    max-width: 26.36rem;
  }
  main .wrapper .planetInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    gap: 3.79rem;
    max-width: 49.2rem;
    align-items: center;
  }
  main .wrapper .planetInfo h1 {
    font-size: var(--fs-48);
  }
  main .wrapper .planetInfo p {
    font-size: var(--fs-11);
    line-height: 1.57rem;
  }
  main .wrapper .planetInfo p:last-of-type {
    font-size: var(--fs-12);
  }
  main .wrapper .planetInfo ul {
    margin-top: 0;
  }
  main .wrapper .planetInfo ul li {
    font-size: var(--fs-9);
    letter-spacing: 0.14rem;
    padding: 0.17rem 1.43rem;
  }
}
@media (max-width: 40.63em) {
  main .mobileOverview {
    display: block;
  }
  main .mobileOverview ul {
    list-style: none;
    display: flex;
    padding: 1.43rem 0;
    justify-content: space-between;
  }
  main .mobileOverview ul li {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.14rem;
    font-size: var(--fs-9);
  }
  main .mobileOverview ul li:hover {
    background-color: var(--colorGray);
  }
  main .wrapper {
    margin: 5rem 0;
    gap: 0;
  }
  main .wrapper .planetInfo {
    margin-top: 5rem;
    grid-template-columns: 1fr;
    text-align: center;
  }
  main .wrapper .planetInfo div:last-of-type {
    display: none;
  }
  main .wrapper .planetInfo p:last-of-type {
    margin-top: 2.29rem;
  }
  main .wrapper .planetInfo h1 {
    margin-bottom: 0;
  }
}
footer {
  margin-top: 6.21rem;
  padding-bottom: 4rem;
}
footer .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: calc(100% - 4.57rem);
  margin-inline: auto;
  max-width: 79.29rem;
  gap: 2.14rem;
}
footer .wrapper .rotationTime {
  border: 1px solid var(--colorBorderWhite);
  padding: 1.43rem 0 1.93rem 1.64rem;
  text-transform: uppercase;
}
footer .wrapper .rotationTime p {
  color: var(--colorBorderWhite);
  line-height: 1.79rem;
  letter-spacing: 0.07rem;
  margin-bottom: 1rem;
}

@media (max-width: 56.25em) {
  footer .wrapper {
    gap: 0.79rem;
  }
  footer .wrapper .rotationTime {
    padding: 1.14rem 0 1.36rem 1.07rem;
  }
  footer .wrapper p {
    font-size: var(--fs-8);
    letter-spacing: 0.05rem;
    font-weight: var(--fw-700);
    margin-bottom: 0.43rem;
  }
  footer .wrapper h2 {
    font-size: var(--fs-24);
    letter-spacing: 0;
  }
}
@media (max-width: 40.63rem) {
  footer .wrapper .rotationTime {
    display: flex;
    justify-content: space-between;
    padding: 0.64rem 1.71rem 0.93rem;
    align-items: center;
  }
  footer .wrapper .rotationTime p {
    margin: 0;
  }
  footer .wrapper .rotationTime h2 {
    font-size: var(--fs-20);
  }
}/*# sourceMappingURL=app.css.map */